# Bincando com o Pandas

## Series

In [2]:
import pandas as pd
import numpy as np

In [5]:
# Criando uma series
series = pd.Series([1,2,3], index = ['Flamengo', 'Vasco', 'Santos'])

In [6]:
series

Flamengo    1
Vasco       2
Santos      3
dtype: int64

In [7]:
# Adicionando elementos a uma series
series['new'] = [2,4,6]

In [8]:
series

Flamengo            1
Vasco               2
Santos              3
new         [2, 4, 6]
dtype: object

In [11]:
# Removendo elementos da series
series.pop('Vasco')

2

In [12]:
series

Flamengo            1
Santos              3
new         [2, 4, 6]
dtype: object

## DataFrames

In [18]:
df = pd.DataFrame(data =np.array([[10,2,8],[4,5,10], [9,8,8]]), index = ['Nota 1', 'Nota 2', 'Nota 3'], columns=['Maria', 'Jose', 'João'])

In [19]:
df

        Maria  Jose  João
Nota 1     10     2     8
Nota 2      4     5    10
Nota 3      9     8     8

In [21]:
df['Maria'].mean()

7.666666666666667